$include /etc/inputrc
# Prettyfi
set colored-stats On
set colored-completion-prefix On

# Completion settings
set show-all-if-ambiguous on
set completion-ignore-case on

# ^C no longer shows on C-c keypress
set echo-control-characters off

# Command history search
"\e[A": history-search-backward
"\e[B": history-search-forward

# Move foreward/backward by word
"\e[1;5D": backward-word
"\e[1;5C": forward-word

# Delete next/previous word
"\e[3;5~": kill-word

# Bash Keybindings
"\C-b":"cd ..\n"
"\C-h":"cd\n"
"\es": "\C-asudo \C-e"
